---
layout: default
---

<div class="home">

  <div class="social-network">
    <h3>
      <a href="https://gitlab.com/DarkIsDude">
        <i class="fab fa-gitlab"></i><br />
        Gitlab
      </a>
    </h3>
    <h3>
      <a href="https://twitter.com/DarkIsDude">
        <i class="fab fa-twitter"></i><br />
        Twitter
      </a>
    </h3>
    <h3>
      <a href="https://medium.com/@darkIsDude">
        <i class="fab fa-medium"></i><br />
        Medium
      </a>
    </h3>
    <h3>
      <a href="https://github.com/DarkIsDude">
        <i class="fab fa-github"></i><br />
        Github
      </a>
    </h3>
    <h3>
      <a href="https://www.linkedin.com/in/comtet-edouard-87b84870/">
        <i class="fab fa-linkedin"></i><br />
        Linked IN
      </a>
    </h3>
    <h3>
      <a href="{{ "/assets/cv/latest.pdf" | absolute_url }}">
        <i class="fas fa-file-pdf"></i><br />
        CV
      </a>
    </h3>
  </div>

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
